<html>
<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="static/index.css"/>
    <script src="/static/cloudgo-io.js"></script>
	<title>infomation</title>
</head>
<body>
    <table border="1px">
        <tr>
            <td>Username</td>
            <td>Password</td>
        </tr>
        <tr>
            <td>{{.Username}}</td>
            <td>{{.Password}}</td>
        </tr>
    </table>
</body>
</html>
