<html>
<head>
<title></title>
</head>
<body>
<form action="/login" method="post">
    <label>username <input type="text" name="username" required/></label>
    <label>password <input type="password" name="password" required/></label>
    <input type="submit" value="log in"/>
  </form>
</body>
</html>

